/*
	****mediaQuery mixin to handle large screens

*/

@mixin largeMedia ($width){
	@media (min-width: $width){
		@content;
	}
}


/*

	****overlay effect mixin
	
*/

@mixin overlay($Zindex, $bgColor, $bgColorOpacity: 1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($bgColor, $bgColorOpacity);
	z-index: $Zindex;

}


/*

	****css auto adding prefixes mixin
	
*/

@mixin prefixer ($prop, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix  + '-' + $prop}: $value;
	}

	#{$prop}: $value;
}


/*

	****animation mixin with its prefixes
	
*/


@mixin keyFrame($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content; 
	}

	@-moz-keyframes #{$animationName} {
		@content; 
	}

	@keyframes #{$animationName} {
		@content; 
	}
}