.product{
	position: relative;
	background-color: #eee;
	border: 1px solid #ccc;
	width: 200px;
	height: 150px;
	@include prefixer(animation, fadeIn 5s infinite linear, webkit moz o);
	@include prefixer(box-shadow, 10px 10px 10px #ccc, wibkit moz o);
	.overlay{
		@include overlay(5, $redColor, 0.9);
	}
}


@include keyFrame(fadeIn) {
	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}